
.wrapper-main {
  display: flex;
  flex-direction: column;
}
.main {
  width: 100%;
  height: 100%;
}

video {
  width: 100vw;
  height: 108vh;
 
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0,0,0,.4);

}

.heading-main {
  font-size: 50px;
}

.p-main {
  font-size: 30px;
}

.logo {
  margin-top: 20px;
  height: 400px;
}

.button-dates {
  position: absolute;
  right: 0;
  top: 0;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 120px;
  background-color: white;
  font-size: 18px;
  opacity: .8;

}

.list-included {
  margin-top: 20px;
  font-size: 20px;
  opacity: .5;
}

.list-main-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-top: 20px; /* Remove margins */
}

.list-wrapper {
  display: flex;
  flex-direction: row;
}

.ul-left {
  margin-right: 50px;
}

@media  (max-width: 545px) {

.ul-left {
 
  margin-bottom: -20px;
}
  
.logo {
 height: 300px;

}

.heading-main {
  font-size: 32px;
}

.Clock-box {
  font-size: 15px;
  margin: -400px;
  margin-right: -10px;
  
}

.list-included {
  font-size: 15px;
  
}

.list-wrapper {
  display: flex;
  flex-direction: row;
}



}

@media  (max-width: 477px) {

  .logo {
   padding-top: 100px;
  }

  .ul-left {
  margin-right: -50px;
  }

.button-dates {
  display: none;
}

.logo {
  margin-top: 100px;
}
  
.clock-wrapper-mobile {
  display: flex;
    flex-direction: row;
    font-size: 30px;
    background-color: rgb(24, 23, 23);
    opacity: .5;
    margin-top: 20px;
    justify-content: center;
}

.clock-none {
 display: none;
}

.list-wrapper {
 display: flex;
 flex-direction: column;
 
}

.button-mobile {
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 220px;
  background-color: white;
  font-size: 18px;
  opacity: .8;

}

video {
  height: 140vh;
}

.overlay {
  height: 140vh;
}



}




@media  (min-width: 477px) {
  .clock-wrapper-mobile {
    display: none;
  }

  .button-mobile {
    display: none;
  }
  


}