.form-contact {
  display: flex;
  flex-direction: column;
 
}

.input-contact {
  margin-bottom: 20px;
}

input {
  width: 500px;
  height: 25px;
  opacity: .5;
}

textarea {
  opacity: .5;
}

@media  (max-width: 524px) {

input {
  width: 250px;
  
}


.logo_mobile {
  margin-top: -200px ;
}

.last_input {

}



  

}