.list-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.list-dates {
  margin-bottom: 40px;
  font-size: 25px;
  color: rgb(217, 214, 214);
}

.heading-main {
  margin-bottom: 40px;
}

.count-font {
  font-size: 16px;
}

.button-reserve {
  padding: 20px;
  width: 516.47px;
  font-size: 20px;
  opacity: .5;
  border: none;
  border-radius: 10px;

}